{% extends 'base.html' %}
{% block body %}
<div data-role="page" id="device_list">
	<div data-role="header" data-theme="b">
		<h1>Power Control</h1>
		<a href="#options" data-icon="gear" class="ui-btn-right">Options</a>
		<a href="/admin/" rel="external" data-icon="gear" class="ui-btn-left">Admin</a>
	</div><!-- /header -->

			<label for="flip-a">Flip switch:</label>
			<select name="slider" id="flip-a" data-role="slider">
				<option value="off">Off</option>
				<option value="on">On</option>
			</select> 

    <div data-role="footer" data-theme="b">
		<h4>Power Control</h4>
	</div><!-- /footer -->
</div><!-- /page -->
{% endblock body %}
